<div class="myContainer">
    <div class="myLeftContainer">
        <questionList
            (questionSelect)="onSelectQuestion($event)"
            [questionList]="questionList"></questionList>
    </div>
    <div class="myRightContainer">
        <div class="messageDisplay">
                <question [questionId]="selectedQuestion"></question>
        </div>
        <div class="responseInput">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Please type an answer or select a proposal...">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Reply</button>
                  </span>
            </div>
        </div>
    </div>
</div>
{{ selectedQuestion | json }}
{{ questionList | json}}
<!--
        <pc-message-list></pc-message-list>
        <pc-chat-form></pc-chat-form>
 -->